

#titulo{
    color: #ffffff;
    font-size: 30px;
    margin-left: 120px;
}

p{
    font-size: 22px;
    margin-left: 120px;
    color: white;
}


a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
h1 {
    color: white;
  }