body{
 /*   background-image: url(../../image/TI.jpg);*/
    margin: 0%;
}

#titulo{
    color: white;
    font-size: 60px;
    margin-left: 500px;
}

a{
    color: white;
    text-decoration: none;
}